<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    </head>
    <body id="cart-page">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="social-info">
            <!-- social info -->
            <div class="row">
                <div class=" contact-phone col-lg-4"><p> +25492589417 </p></div>
            
                <div class="contact-email col-lg-4"><p>wekesa360@outlook.com</p></div>
                
                <div class="social-links col-lg-4 ">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-instagram"></i>
                </div>
            </div>
        </div>

        <div class="search-row">

            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo">
                            <!-- logo -->
                            <img width="150" src="../static/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-8 col-xs-offset-2">
                        <div class="search-bar">
                            <div class="input-group">
                                <input type="text" class="form-control" name="x" id="search" placeholder="Search">
                                <a href="#" class="btn btn-search">SEARCH</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="cart fa-pull-right">
                            <!-- cart -->
                            <a href="#"><i class="fa fa-shopping-cart text-muted"></i><span>Cart</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="cart-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 cart">
                        <div class="title">
                            <div class="row">
                                <div class="col"><h4><b>Shopping Cart</b></h4></div>
                                <div class="col align-self-center text-right text-muted">3 items</div>
                            </div>
                        </div>    
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                                <div class="col-lg-6">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium magnam et laboriosam debitis modi reiciendis reprehenderit sequi. </div>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                </div>
                                <div class="col">Ksh. 44.00 <span class="close">&#10005;</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                                <div class="col-lg-6">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Cotton T-shirt</div>
                                </div>
                                <div class="col">
                                    <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                </div>
                                <div class="col">Ksh. 44.00 <span class="close">&#10005;</span></div>
                            </div>
                        </div>
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>
                                <div class="col-lg-6">
                                    <div class="row text-muted">Shirt</div>
                                    <div class="row">Cotton T-shirt</div>
                                </div>
                                <div class="col">
                                    <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                                </div>
                                <div class="col">Ksh. 44.00 <span class="close">&#10005;</span></div>
                            </div>
                        </div>
                        <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
                    </div>
                    <div class="col-md-3 summary">
                        <div><h5><b>Summary</b></h5></div>
                        <hr>
                        <div class="row">
                            <div class="col" style="padding-left:0;">ITEMS 3</div>
                            <div class="col text-right">Ksh. 132.00</div>
                        </div>
                        <form>
                            <p>SHIPPING</p>
                            <select><option class="text-muted">Standard-Delivery- Ksh.5.00</option></select>
                            <p>GIVE CODE</p>
                            <input id="code" placeholder="Enter your code">
                        </form>
                        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right">Ksh. 137.00</div>
                        </div>
                        <button class="btn">CHECKOUT</button>
                    </div>
                </div>
                
            </div>
    
        </div>
        
        <script src="" async defer></script>
        <script src="https://kit.fontawesome.com/415119f36a.js" crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    </body>
</html>