{% extends 'base.html' %}
{%load humanize%}
{% block content %}
<main class="container">
   <div class="row">
      <div class="col-lg-4">
         <nav>
            <!-- main navigation -->
            <ul class="cat-menu shadow-sm ">
               {%for key, value in sub_categories.items %}
               <div class="dropend">
                  <li>
                     <a id="dropdownMenuLink"  style="cursor: pointer; padding-right:55px;" data-bs-toggle="dropdown" >{{key}}</a><i style="opacity: 0.2;" class=' text-muted fa fa-angle-down fa-pull-right'></i>
                     <ul class="dropdown-menu position-inherit bg-white border-0 rounded-0 w-100 p-3 m-0" aria-labelledby="dropdownMenuLink">
                        {%for sub_category in value %}
                        <li class="dropdown-item "><a class="nav-link" href="{% url 'shop:products' sub_category.slug %}" target>{{sub_category}}</a></li>
                        {%endfor%}
                     </ul>
                  </li>
               </div>
               {%endfor%}  
            </ul>
         </nav>
      </div>
      <div class="col-lg-8">
         <!-- Carousel -->
         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
               <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
               <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
               <!-- <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li> -->
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="" height="450" src="../static/img/b1.jpg" alt="First slide">
               </div>
               <div class="carousel-item">
                  <img class="" height="450" src="../static/img/b2.jpg" alt="Second slide">
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>
      <div class="col-lg-">
         <!-- poster -->
      </div>
   </div>
</main>
<main class="container ">
   <div class="main-card shadow-sm">
      <div class="product-item">
         <!-- featured products -->
         <main class="container ">
            <h2>Featured <b>Products</b></h2>
            <div class="product-div">
               <!-- Wrapper for carousel items -->
               <div class="item">
                  <section class="row autoplay">
                     {% for product in products %}
                     {% if product.tag == 'Featured' %}
                     <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                        <div class="thumb-wrapper">
                           <div class="img-box">
                              <a href="{%url 'shop:product-details' product.slug %}">
                              <img src="{{product.get_product_image_url}}" class="img-fluid" alt="Macbook"></a>  
                           </div>
                           <div class="thumb-content">
                              <h4>{{product.name | truncatechars:37}}</h4>
                              <p class="item-price"><b>Ksh. {{product.price|intcomma}}</b></p>
                              {% if product.quantity <= 0 %}
                              <p> Out Of Stock </p>
                              {% else %}
                              <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}            								                                           				
                  </section>
               </div>
            </div>
         </main>
      </div>
      <a class="btn-more" href="{% url 'shop:tag-view' 'Featured' %}">More Products</a>
   </div>
</main>
<br>
<main class="container ">
   <div class="main-card shadow-sm">
      <div class="product-item">
         <!-- featured products -->
         <main class="container">
            <h2>Hot Sale <b>Products</b></h2>
            <div class="product-div">
               <!-- Wrapper for carousel items -->
               <div class="item">
                  <section class="row autoplay">
                     {% for product in products %}
                     {% if product.tag == 'Hot Sale' %}
                     <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                        <div class="thumb-wrapper">
                           <div class="img-box">
                              <a href="{%url 'shop:product-details' product.slug %}">
                              <img src="{{product.get_product_image_url}}" class="img-fluid" alt="Macbook"></a>  
                           </div>
                           <div class="thumb-content">
                              <h4>{{product.name | truncatechars:37}}</h4>
                              <p class="item-price"><b>Ksh. {{product.price|intcomma}}</b></p>
                              {% if product.quantity <= 0 %}
                              <p> Out Of Stock </p>
                              {% else %}
                              <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}            								                                           				
                  </section>
               </div>
            </div>
         </main>
      </div>
      <a class="btn-more" href="{% url 'shop:tag-view' 'Hot-Sale' %}">More Products</a>
   </div>
</main>
<br>
<main class="container ">
   <div class="main-card shadow-sm">
      <div class="product-item">
         <!-- featured products -->
         <main class="container">
            <h2>Latest <b>Products</b></h2>
            <div class="product-div">
               <!-- Wrapper for carousel items -->
               <div class="item">
                  <section class="row autoplay">
                     {% for product in products %}
                     {% if product.tag == 'Latest Products' %}
                     <div class="col-lg-3 col-md-3 col-sm-6 p-0">
                        <div class="thumb-wrapper">
                           <div class="img-box">
                              <a href="{%url 'shop:product-details' product.slug %}">
                              <img src="{{product.get_product_image_url}}" class="img-fluid" alt="Macbook"></a>  
                           </div>
                           <div class="thumb-content">
                              <h4>{{product.name | truncatechars:37}}</h4>
                              <p class="item-price"><b>Ksh. {{ product.price|intcomma }}</b></p>
                              {% if product.quantity <= 0 %}
                              <p> Out Of Stock </p>
                              {% else %}
                              <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}            								                                           				
                  </section>
               </div>
            </div>
         </main>
      </div>
      <a class="btn-more" href="{% url 'shop:tag-view' 'Latest-Products' %}">More Products</a>
   </div>
</main>
<br>
<br><br>
{% endblock content %}