{% extends 'base.html' %}

{% block content %}

        <div class="main-card">
            <div class="container">
                <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                        <img src="/examples/images/products/canon.jpg" class="img-fluid" alt="Canon">
                    </div>
                    <div class="thumb-content">
                        <h4>Canon DSLR</h4>
                        <p class="item-price"><span>Ksh. 250.00</span></p>
                        
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>	
            </div>
        </div>
        </div>

{% endblock content %}