{% extends 'base.html' %}
{%load humanize%}
{% block content %}
<main class="container">
   <div class="">
      <div class="product-item">
         <!-- featured products -->
         <main class="container">
            <div class="product-div">
               <!-- Wrapper for carousel items -->
               <div class="item">
                  <div class="row">
                     {% for product in products %}
                     <div class="col-lg-3 col-md-4 col-sm-6  p-0">
                        <div class="thumb-wrapper">
                           <div class="img-box">
                              <a href="{%url 'shop:product-details' product.slug %}">
                              <img src="{{product.get_product_image_url}}" class="img-fluid" alt="Macbook"></a>  
                           </div>
                           <div class="thumb-content">
                              <h4>{{product.name | truncatechars:37}}</h4>
                              <p class="item-price"><b>Ksh. {{product.price|intcomma}}</b></p>
                              {% if product.quantity <= 0 %}
                              <p> Out Of Stock </p>
                              {% else %}
                              <a href="{{ product.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
                              {% endif %}
                           </div>
                        </div>
                     </div>
                     {% endfor %}            								                                           				
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
</main>
<br>
{% endblock content %}