{% extends 'base.html' %}

{% block content %}
        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="images p-3">
                                    <div class="text-center p-4"> <img id="main-image" src="{{product.get_product_image_url}}" width="250" /> </div>
                                    <div class="thumbnail text-center"> 
                                    {% for image in product.get_all_product_images %}
                                    <img onclick="change_image(this)" src="{{image.image.url}}" width="70">
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product p-4">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                                    </div>
                                    <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">BRAND | {{product.brand}}</span>
                                        <h5 class="text-uppercase">{{product.name}}</h5>
                                        <div class="price d-flex flex-row align-items-center"> <span class="act-price">Ksh. {{product.price}}</span>
                                            <div class="ml-2"> <small class="dis-price">Ksh. </small> <span>40% OFF</span> </div>
                                        </div>
                                    </div>
                                    <p class="about">{{product.key_features}}</p>
                                    <div class="cart mt-4 align-items-center">
                                    <a href="{{ product.get_add_to_cart_url }}">
                                    <button class="btn btn-danger text-uppercase mr-2 px-4"> Add to cart <i class="fa fa-shopping-cart"></i></button><a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="descr-0">
                            <h5>Product Description</h5>
                        </div>
                        <div class="descr">
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="container">
            <div class="main-card">
                <div class="product-item">
                    <!-- featured products -->
                    <div class="container-xl">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Similar <b>Products</b></h2>
                                <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel" data-interval="0">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-bs-target="#myCarousel1" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#myCarousel1" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#myCarousel1" data-bs-slide-to="2"></li>
                                </ol>   
                                <!-- Wrapper for carousel items -->
                                <div class="carousel-inner">
                                    <div class="item carousel-item active">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/ipad.jpg" class="img-fluid" alt="">									
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Apple iPad</h4>									
                                                        
                                                        <p class="item-price"><b>Ksh. 369.00</b></p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/headphone.jpg" class="img-fluid" alt="Headphone">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Sony Headphone</h4>									
                                                        
                                                        <p class="item-price"><b>Ksh. 23.99</b></p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>		
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/macbook-air.jpg" class="img-fluid" alt="Macbook">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Macbook Air</h4>									
                                                        
                                                        <p class="item-price"><b>Ksh. 649.00</b></p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>								
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/nikon.jpg" class="img-fluid" alt="Nikon">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Nikon DSLR</h4>									
                                                       
                                                        <p class="item-price"><b>Ksh. 250.00</b></p>
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/play-station.jpg" class="img-fluid" alt="Play Station">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Sony Play Station</h4>
                                                        <p class="item-price"><span>Ksh. 269.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/macbook-pro.jpg" class="img-fluid" alt="Macbook">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Macbook Pro</h4>
                                                        <p class="item-price"><span>Ksh. 869.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/speaker.jpg" class="img-fluid" alt="Speaker">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Bose Speaker</h4>
                                                        <p class="item-price"><span>Ksh. 99.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/galaxy.jpg" class="img-fluid" alt="Galaxy">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Samsung Galaxy S8</h4>
                                                        <p class="item-price"><span>Ksh. 569.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="item carousel-item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/iphone.jpg" class="img-fluid" alt="iPhone">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Apple iPhone</h4>
                                                        <p class="item-price"><span>Ksh. 349.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/canon.jpg" class="img-fluid" alt="Canon">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Canon DSLR</h4>
                                                        <p class="item-price"><span>Ksh. 250.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/pixel.jpg" class="img-fluid" alt="Pixel">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Google Pixel</h4>
                                                        <p class="item-price"><strike>Ksh. 450.00</strike> <span>Ksh. 418.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>	
                                            <div class="col-sm-3">
                                                <div class="thumb-wrapper">
                                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                                    <div class="img-box">
                                                        <img src="/examples/images/products/watch.jpg" class="img-fluid" alt="Watch">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>Apple Watch</h4>
                                                        <p class="item-price"><span>Ksh. 330.00</span></p>
                                                        
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                    </div>						
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control-prev" href="#myCarousel1" data-bs-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel1" data-bs-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="btn-more" href="">More Products</a>
            </div>
        </div><br>
{% endblock content %}