
<script src="https://kit.fontawesome.com/415119f36a.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')){
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }
    let device = getCookie('device')
    
    if (device == null || device == undefined) {
        device = uuidv4()
    }
    document.cookie = 'device=' + device + ";domain=;path=/"    
</script>

<script>
    const productList = document.getElementById('productList');
    const searchBar = document.getElementById('searchBar');
    let allProducts = [];

    searchBar.addEventListener('keyup', (e) => {
        const searchString = e.target.value.toLowerCase();
        const filteredProducts = allProducts.filter((product) => {
            return (
                product.fields.name.toLowerCase().includes(searchString) ||
                product.fields.brand.toLowerCase().includes(searchString)
            );
        });
        displayProducts(filteredProducts, searchString);
    });

    const loadProducts = async () => {
        try {
            const res = await fetch('{% url "shop:search" %}');
            allProducts = await res.json();
        } catch (err) {
            console.error(err);
        }
    };

    const displayProducts = (products, searchString) => {
        const htmlString = products
            .map((product) => {
                url = `http://127.0.0.1:8000/product-details/${product.fields.slug}`
                return `
                <a href="${url}" style="text-decoration: none; color: #000000;"><li >
                    <h6>${product.fields.name}</h6>
                    
                </li></a>
            `;
            })
            .join('');
        productList.innerHTML = htmlString;

        if (searchString.length === 0) {
            productList.innerHTML = '';
        }
    };
    loadProducts();
</script>
<script>
    $ (document).ready(function () {
        console.log('Hello World')
        const searchBar = document.getElementById('searchBar');
        searchBar.addEventListener('keyup', () => {
        var x = document.getElementById('searchList')
        if(x.style.display == 'none') {
            x.style.display = 'block';
        }
        else {
            x.style.display = 'none';
        }
        })

    });
</script>
